<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acount setup</title>
    <style>
        body{
            background-color: rgb(3, 61, 63);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .setup{
            width: 40%;
            margin-top: 200px;
            background-color: rgb(11, 127, 131);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }
        input{
            width: 80%;

        }
    </style>
</head>
<body> 
    <form method="post" class="setup"><br/>
       <label for="Age">Age:</label><br/>
       <input type="text" name="age" id="age"><br/>

       <label for="address">Address:</label><br/>
       <input type="text" name="address" id="address"><br/>

       <label for="education">Education:</label><br/>
       <input type="text" name="education" id="education"><br/>

       <input type="button" value="save">

    </form>
</body>
</html>